@{
    ViewData["Title"] = "About Page";
}

<div class="text-start">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewBag.Message</h3>
    <p>This is the About page of our first ASP.NET Core MVC app.</p>
</div>